extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  button.is-flash(data-type="led") LED
  button(data-type="load") 読み込み