extends /layout/_default-layout

prepend config-block
  - page_name = '温度を管理するぞ〜'

//- append stylesheet-block

//- append javascript-block

block content-block
  .sp-flag.js-sp-flag
  button(data-type="load").btn--load LOAD
  .js-after-content
    .js-inner-content