extends /layout/_default-layout

prepend config-block
  - page_name = 'BLE'

//- append stylesheet-block

prepend javascript-block
  script(src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.min.js")
  

block content-block
  .sp-flag.js-sp-flag
  button(data-type="load").btn--load LOAD
  .js-after-content.buttons
    button.js-sound-button1.button 音1
    button.js-sound-button2.zasyu.button 音2
    button.js-sound-button3.hoge.button 音3
