// reset css
@import 'node_modules/reset.css/reset.css';

// font 
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

// config
@import 'variable', 'function', 'mixin', 'keyframes';

// modules
@import 'module/*';

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, rgba(24,108,124,1) 0%,rgba(0,0,0,1) 100%);
    .btn--load {
        background-image: linear-gradient(0deg, $text_color 0%, $text_color 100%);
        &::before {
            border-bottom: $bd_height solid $text_color;
            @include pc-layout {
               border-bottom: 90px solid $text_color; 
            }
        }
        &::after {
            border-top: $bd_height solid $text_color;
            @include pc-layout {
               border-top: 90px solid $text_color; 
            }
        } 
    } 
    .temperature__text {
        &::before {
            border: 1px solid $text_color;
        }
    }
    .temperature__timing {
        background-color: $text_color;
    }
    .temperature__timing--child {
        border: 1px solid $text_color;
        animation-duration: 1.0s;
    }
    &.is-kowai {
        $text_color: red;
        background-image: linear-gradient(135deg, rgba(180, 0 ,0 ,1) 0%,rgba(0,0,0,1) 100%);
        .btn--load {
            background-image: linear-gradient(0deg, $text_color 0%, $text_color 100%);
            &::before {
                border-bottom: $bd_height solid $text_color;
            }
            &::after {
                border-top: $bd_height solid $text_color;
            } 
        } 
        .temperature__text {
            &::before {
                border: 1px solid $text_color;
            }
        }
        .temperature__timing {
            background-color: $text_color;
        }
        .temperature__timing--child {
            border: 1px solid $text_color;
            animation-duration: .5s;
        }
    }
}
.sp-flag {
    display: none;
    @include sp-layout {
        display: block;
    }
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
.js-sp-flag {
    @include pc-layout {
        display: none;
    }
}
.btn--load {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: $width;
    height: $height;
    margin: auto;
    color: #222;
    font-size: 22px;
    font-weight: bold;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s cubic-bezier(.17,.67,.83,.677);
    @include pc-layout {
        width: 300px;
        height: 200px;
    }
    &.is-clicked {
        opacity: 0;
        pointer-events: none;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        border-left: ($width / 2) solid transparent;
        border-right: ($width / 2) solid transparent; 
        left: 0;
        @include pc-layout {
            border-left: 150px solid transparent;
            border-right: 150px solid transparent;  
        }
    }
    &::before {
        content: "";
        bottom: $height;
        border-top-color: transparent;
        @include pc-layout {
            bottom: 200px;
        }
    }
    &::after {
        content: "";
        top: $height;
        border-bottom-color: transparent;
        @include pc-layout {
            top: 200px;
        }
    }
}

.buttons {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(.17,.67,.83,.677);
    &.is-show {
        opacity: 1;
        visibility: visible;
    }
}
.button {
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: #000;
    color: white;
}